* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* 
header {
	background-color: goldenrod;
	text-align: center;
	margin-bottom: 2rem;
}

main {
	background-color: red;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
} */
